*{
  padding: 30;
  align-items: center;
  max-width: 500px;
  margin: auto;
  background-color: antiquewhite;
justify-content: center;
padding: 10px;
}
.container{
  background-color:silver;

}

ul{
  display: flex;

  width: 80px;
}
  li{
    justify-content: center;
    align-items: center;
    list-style: none;
    
  }
  input{
    background-color: white;
    width: 80%;
  }
  button{
    background-color: white;
  }
  i{background-color: white;}